=render :partial => 'home/site_header'

%section{:class => "about"}
  %article{:class => "profile"}
    %header
      %h2 #summary
    %p= @profile.summary
    %footer

  %article{:class => "skills"}
    %header
      %h2 #skills
    %p= @profile.skills
    %footer

  %article{:class => "education"}
    %header
      %h2 #education
    %p= @profile.education
    %footer

  %article{:class => "experience"}
    %header
      %h2 #experience
    %p= @profile.experience
    %footer
=render :partial => 'home/site_sidebar'
=render :partial => 'home/site_footer'

