=render :partial => 'home/site_header'

%section{:class => "about"}
  %article{:class => "summary"}
    %header
      %h2 #summary
    =raw(@profile.summary_to_html)
    %footer

  %article{:class => "skills"}
    %header
      %h2 #skills
    =raw(@profile.skills_to_html)
    %footer

  %article{:class => "education"}
    %header
      %h2 #education
    =raw(@profile.education_to_html)
    %footer

  %article{:class => "experience"}
    %header
      %h2 #experience
    =raw(@profile.experience_to_html)
    %footer
=render :partial => 'home/site_sidebar'
=render :partial => 'home/site_footer'

