body{
  width:960px;
  margin:15px auto;
  font-family: Gothic;
  font-size: 1em;
  background:#FFFFFF;
}

.projects a, .page_footer p a, .social_links_sidebar a{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Gothic;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 10px;
}

.projects a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.social_links_sidebar img{
  margin-bottom: -2px;
}

.social_links_sidebar a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.page_footer p a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.blog a{
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 1.2em;
  font-family: Gothic;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 10px;
}

.blog a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.post h2{
font-size: 1.2em;
float: left;
}

.post header a{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Gothic;
  font-size: 1em;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 18px;
  float: right;
}

.post header a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.post p, h3{
clear:both;
}

.post p a{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Gothic;
  font-size: 1em;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
}

.post p a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.blog footer, .post header p{
  font-size: 15px;
  font-family: serif;
  font-style:italic;
  margin-left: 10px;
}

.post header p{
  margin-top: -20px;
}

p{
margin:0 0 20px 0;
}

p, li{
  line-height:20px;
}

.page_header{
width:100%;
}

.page_header p, .about footer{
  font-size: 1em;
  font-style:italic;
}

.page_header p{
  margin-top:-20px;
  margin-left:12px;
}


header nav a{
text-decoration :none;
border-bottom: 1px solid #333333;
color : #333333;
font-size: 1.2em;
}

header nav a:hover{
text-decoration :none;
border-top: 2px solid #333333;
color : #333333;
}

footer nav  a{
color : #333333;
text-decoration :none;
border-bottom: 1px solid #333333;
}

footer nav a:hover{
text-decoration :none;
border-top: 2px solid #333333;
color : #333333;
}

.projects a{
color : #333333;
}

section p{
  line-height: 1.5em;
  color: rgb(69,54,37);
  font-size: 1em;
  margin-right: 20px;
}


.about p, .post p{
  font-family: Gothic;
  padding: 3px 5px;
}

h1{
  font-size: 1.5em;
  font-family: Gothic;
  letter-spacing: 0.1em;
  color: rgb(100,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

h2{
  font-size: 1em;
  font-family: Gothic;
  letter-spacing: 0.1em;
  color: rgb(100,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}


.post h2{
margin-bottom: 1px;
}

.post header p{
margin-left: -1px;
}

h3{
  font-size: 0.9em;
  font-family: Gothic;
  letter-spacing: 0.1em;
  color: rgb(100,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
  margin: 4px;
}



.page_header nav ul{
text-shadow: 0 1px 0 #f5f5f5;
}

.page_header nav ul, .page_footer nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 866px;
}

.social_links_sidebar nav ul{
  list-style: none;
  margin: 5px;
  padding: 0;
  font-size: 0.8em;
}

.page_header nav ul li, .page_footer nav ul li{
padding:0;
margin: 0 20px 0 0;
display:inline;
}

footer nav{
margin-bottom: 35px;
}

.about, .projects, .blog, .post{
  float: left;
  width: 74%;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* DISQUS */
div#disqus_thread{
  clear:both;
  width : 66%;
}

#disqus_thread .dsq-subscribe-email { display: none; }
#disqus_thread .dsq-subscribe-rss { display: none; }
div#dsq-account-dropdown { display: none;}
.dsq-global-toolbar-right {display: none;}

.dsq-comment-footer {
  font-family: Gothic;
  color: #640B00;}


.social_links_sidebar{
  float: left;
  width: 16%;
  border-left: 2px dotted #CCC;
  border-right: 2px dotted #CCC;
}

.page_footer{
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
  text-shadow: 0 1px 0 #f5f5f5;
  width: 866px;
}

footer p, .projects footer{
  font-size: 1em;
  font-style:italic;
  color: #640B00;
}

article{
border-top: 2px dotted #CCC;
width: 90%;
}


#contact_body{
  width: 85%;
  margin-top: 10px;
  border: 2px solid #640B00;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

#contact_body_input label{
width: 65%;
}

#contact_name, #contact_email{
width: auto;
border: 2px solid #640B00;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

#contact_intro, .contact_form{
  float: left;
  width: 60%;
  margin-bottom: 20px;
  margin-top: 12px;
}

#new_contact{
  font-family: Gothic;
  border: 2px solid #640B00;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  padding: 15px 15px;
  width: 90%
}

#contact_submit{
  width: 100px;
  border: 2px solid #640B00;
  float:rightright;
  margin-right:6px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}

.gist{
  font-size: 14px;
}

.about p{
border: solid 1px #640B00;
margin-top: -17px;
}

.about h2{
color: #FFFFFF;
background-color: #640B00;
width: 17%;
padding:3px;
}

.projects h3{
  color: #640B00;
  font-size: 1em;
}

