body{
  width:960px;
  margin:15px auto;
  font-family: Gothic;
  font-size: 1em;
  background:#F4F4F4;
}

.projects a, .social_links_sidebar a{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Gothic;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 10px;
}

.page_footer a{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Gothic;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 10px;
}

.page_footer nav a{
  text-decoration: none;
}

.page_footer nav a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.projects a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.social_links_sidebar img{
  margin-bottom: -2px;
  opacity: 0.8;
}

.social_links_sidebar a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.page_footer p a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.blog a{
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 1.2em;
  font-family: Gothic;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 10px;
  -webkit-transition: background 0.5s ease, color 0.3s linear;
  -moz-transition: background 0.5s ease, color 0.3s linear;
  -o-transition: background 0.5s ease, color 0.3s linear;
  transition: background 0.5s ease, color 0.3s linear;
 }

.blog a:hover{
  background-color: #640B00;
  color: #FFF;
}


.post h2{
font-size: 1.2em;
float: left;
}

.post header a{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Gothic;
  font-size: 1em;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin-top: 18px;
  float: right;
}

.post header a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.post p, h3{
clear:both;
}

.post p::selection{
  background: #DADACA;
}

.post p::-moz-selection{
  background: yellow;
}

.post p a{
  background-color: rgba(0, 0, 0, 0.05);
  font-family: Gothic;
  font-size: 1em;
  color: #640B00;
  text-decoration: none;
  border-radius: 3px;
  padding: 3px 5px;
}

.post p a:hover{
  background-color: #640B1B;
  color: #FFFFFF;
}

.blog footer, .post header p{
  font-size: 15px;
  font-family: serif;
  font-style:italic;
  margin-left: 10px;
}

.post header p{
  margin-top: -20px;
}

p{
margin:0 0 20px 0;
}

p, li{
  line-height:20px;
}

.page_header{
width:100%;
}

.page_header p, .about footer{
  font-size: 1em;
  font-style:italic;
}

.page_header p{
  margin-top:-20px;
  margin-left:12px;
}


header nav a{
text-decoration :none;
border-bottom: 1px solid #333333;
color : #333333;
font-size: 1.2em;
}

header nav a:hover{
text-decoration :none;
border-top: 2px solid #333333;
color : #333333;
}

.projects a{
color : #333333;
}

section p{
  line-height: 1.5em;
  color: rgb(69,54,37);
  font-size: 1em;
  margin-right: 20px;
}


.about p, .post p{
  font-family: Gothic;
}

h1{
  font-size: 1.5em;
  font-family: Gothic;
  letter-spacing: 0.1em;
  color: rgb(100,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

h2{
  font-size: 1em;
  font-family: Gothic;
  letter-spacing: 0.1em;
  color: rgb(100,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

.post h2{
margin-bottom: 1px;
}

.post header p{
margin-left: -1px;
}

h3{
  font-size: 0.9em;
  font-family: Gothic;
  letter-spacing: 0.1em;
  color: rgb(100,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
  margin: 4px;
}

.page_header nav ul{
text-shadow: 0 1px 0 #f5f5f5;
}

.page_header nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 866px;
}

.social_links_sidebar nav ul{
  list-style: none;
  margin: 5px;
  padding: 0;
  font-size: 0.8em;
}

.page_header nav ul li, .page_footer nav ul li{
padding:0;
margin: 0 20px 0 0;
display:inline;
}

footer nav{
margin-bottom: 10px;
}

.about, .projects, .blog, .post{
  float: left;
  width: 74%;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* DISQUS */
div#disqus_thread{
  clear:both;
  width : 66%;
}

#disqus_thread .dsq-subscribe-email { display: none; }
#disqus_thread .dsq-subscribe-rss { display: none; }
div#dsq-account-dropdown { display: none;}
.dsq-global-toolbar-right {display: none;}

.dsq-comment-footer {
  font-family: Gothic;
  color: #640B00;}


.social_links_sidebar{
  float: left;
  width: 16%;
}

.page_footer{
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
  text-shadow: 0 1px 0 #f5f5f5;
  width: 74%;
}

.projects footer{
  font-size: 1em;
  font-style: italic;
  color: #000;
  margin-bottom: 10px;
  clear: both;
}

footer p{
  font-size: 0.8em;
  color: #640B00;
}

article{
border-top: 2px dotted #CCC;
width: 90%;
}


#contact_body{
  width: 85%;
  margin-top: 10px;
  border: 2px solid #640B00;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

#contact_body_input label{
width: 65%;
}

#contact_name, #contact_email{
width: auto;
border: 2px solid #640B00;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}

#contact_intro, .contact_form{
  float: left;
  width: 60%;
  margin-bottom: 20px;
  margin-top: 12px;
}

#new_contact{
  font-family: Gothic;
  border: 2px solid #640B00;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  padding: 15px 15px;
  width: 90%
}

.commit input{
  width: 100px;
  border: 2px solid #640B00;
  float: left;
  margin-right:6px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
}

.gist{
  font-size: 14px;
}

.about p{
border: solid 1px #640B00;
margin-top: -17px;
padding: 10px;
}

.about p a{
color: #453625;
text-decoration: none;
border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
border-bottom-color: #640B00;
}

.about p a:hover{
color: #640B00;
border-bottom: 1px solid rgba(0, 0, 0, 0.3);
border-bottom-color: #640B00;
}

.about h2{
color: #FFFFFF;
background-color: #640B00;
width: 17%;
padding:3px;
}

.projects h3{
  color: #640B00;
  font-size: 1em;
}

.love h1{
  font-size: 4.5em;
}

.love del{
  font-size: 0.6em;
}

.projects header > a{
  float : right;
  color: #640B00;
  font-weight:bold;
}

.projects header > h3{
  float : left;
}

.projects article > p{
  clear: both;
}

.projects article:nth-of-type(odd) {
  border: 1px solid #640B00;
  border-radius: 3px;
  padding:2px;
}

.projects article:nth-of-type(even) {
  border: 1px solid #CCC;
  border-radius: 3px;
  padding:2px;
}

article.blogs{
overflow: hidden;
}

article.blogs header{
float:left;
margin-top: 5px;
}

article.blogs footer{
float:right;
margin-top: 5px;
background-color: rgba(0, 0, 0, 0.05);
padding: 4px;
color: black;
}

.blogs header > h3{
border-left : 6px solid #640B00;
padding: 0.2em;
}

.projects li{
float: left;
width: 160px;
text-align: left;
margin-right: 20px;
margin-bottom: 20px;
position: relative;
}

.projects ul{
padding-left: 0px;
margin-left: 0px;
list-style: none;
overflow: hidden;
}

.preview{
display: block;
width: 150px;
position: relative;
}

.preview span{
position: absolute;
left: 5px;
top: 132px;
background-color: #640B1B;
color: #FFF;
width: auto;
padding-left: 5px;
padding-right: 5px;
font-style: italic;
}

.preview img{
border: 1px solid #640B00;
}

.description{
position: absolute;
top: 0px;
left: 0px;
font-weight: bold;
font-size: 15px;
background-color: #000;
color: #FFF;
border: 2px solid #640B1B;
border-left: 0px;
width: auto;
}

.projects div ul>li a{
display: block;
}
