%footer{:class => "page_footer"}
  %nav
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "#", :title => "Peruse as you please, if you would like the source code please contact me."} Terms of Service
      %li
        %a{:href => "#", :title => "The only information I capture is via the contact form, I will not share it."} Privacy
  %p
    Copyright &copy; EdmoreMoyo 2011 - Powered by
    %a{:href => "http://www.ruby-lang.org", :class => "popup"} Ruby
    \ /
    %a{:href => "http://www.rubyonrails.org", :class => "popup"} Rails
    \ - Hosted on
    %a{:href => "http://www.heroku.com", :class => "popup"} Heroku

