%footer{:id => "page_footer"}
  %nav
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "#"} Terms of Service
      %li
        %a{:href => "#"} Privacy
  %p
    Copyright &copy; EdmoreMoyo 2011 - Powered by
    %a{:href => "http://www.ruby-lang.org"} Ruby
    \ /
    %a{:href => "http://www.rubyonrails.org"} Rails
    \ - Hosted on
    %a{:href => "http://www.heroku.com"} Heroku

