%section{:id => "social_links_sidebar"}
  = image_tag("Edmore_Moyo2.jpg")
  %h3 Stalk_Me_On
  %nav
    %ul
      %li
        = link_to image_tag("icons/linkedin_16.png"), "http://za.linkedin.com/in/edmoremoyo", :class => "popup"
        LinkedIn
      %li
        = link_to image_tag("icons/flickr_16.png"), "http://www.flickr.com/photos/etmoyo", :class => "popup"
        Flickr
      %li
        = link_to image_tag("icons/twitter_16.png"), "http://www.twitter.com/etmoyo", :class => "popup"
        Twitter
