%footer{:id => "page_footer"}
  %p &copy; 2011 Edmore Moyo
  %nav
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "/"} Terms of Service
      %li
        %a{:href => "/"} Privacy

