%section{:class => "social_links_sidebar"}
  %h3 Elsewhere
  %nav
    %ul
      %li
        = link_to "Github", "http://github.com/edmore", :class => "popup"
      %li
        = link_to "Flickr", "http://www.flickr.com/photos/etmoyo/sets", :class => "popup"
      %li
        = link_to "LinkedIn", "http://za.linkedin.com/in/edmoremoyo", :class => "popup"
      %li
        = link_to "Twitter", "http://www.twitter.com/etmoyo", :class => "popup"

    %div{:class => "tweet"}
