%footer{:class => "page_footer"}
  %nav
    %ul
      %li
        %a{:href => "/"} Home
  %p
    %img{ :alt => "Creative Commons License", :style => "border-width:0", :src => "http://i.creativecommons.org/l/by-sa/3.0/80x15.png"}
    %br
    \ This work is licensed under a
    %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", :class => "popup"} Creative Commons Attribution-ShareAlike 3.0 Unported License
    \ .
    %br
    \ Powered by
    %a{:href => "http://www.ruby-lang.org", :class => "popup"} Ruby
    \ /
    %a{:href => "http://www.rubyonrails.org", :class => "popup"} Rails
    \ - Hosted on
    %a{:href => "http://www.heroku.com", :class => "popup"} Heroku

