%footer{:class => "page_footer"}
  %nav
    %ul
      %li
        %a{:href => "/"} Home
  %p
    %img{ :alt => "Creative Commons License", :style => "border-width:0", :src => "http://i.creativecommons.org/l/by-sa/3.0/80x15.png"}
    %br
    %span This work is licensed under a
    %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", :class => "popup"} Creative Commons Attribution-ShareAlike 3.0 Unported License
    %span .
    %br
    %span Powered by
    %span{:title => "HTML5, CSS3, JS, RoR"} All the good things WEB
    %span - Hosted on
    %a{:href => "http://www.heroku.com", :class => "popup"} Heroku

