%header{:id => "page_header"}
  %h1 @edmore_moyo
  %p The Official Web Footprint
  %nav
    %ul
      %li
        %a{:href => "/"} About
      %li
        %a
          =link_to "Projects", projects_path
      %li
        %a
          =link_to "Thoughts in Bits", blog_path
      %li
        %a{:href => "#"} Get in Touch
