%header{:id => "page_header"}
  %h1 @edmore_moyo
  %p The Official Web Footprint
  %nav
    %ul
      %li
        %a{:href => "/"} About
      %li
        %a{:href => "/"} Projects
      %li
        %a{:href => "/"} Thoughts in Bits
      %li
        %a{:href => "/"} Get in Touch
