%footer{:class => "page_footer"}
  %nav
    %ul
      %li
        %a{:href => "/"} Home
  %p
    Copyright &copy; Edmore Moyo ( 2011 -
    = copyright_year
    \) - Powered by
    %a{:href => "http://www.ruby-lang.org", :class => "popup"} Ruby
    \ /
    %a{:href => "http://www.rubyonrails.org", :class => "popup"} Rails
    \ - Hosted on
    %a{:href => "http://www.heroku.com", :class => "popup"} Heroku

