%footer{:id => "page_footer"}
  %nav
    %ul
      %li
        %a{:href => "/"} Home
      %li
        %a{:href => "#"} Terms of Service
      %li
        %a{:href => "#"} Privacy
  %p Copyright &copy; EdmoreMoyo 2011 - Powered by Ruby / Rails - Hosted on Heroku

