%header{:class => "page_header"}
  %h1 @edmore_moyo
  %p
    %span
  %nav
    %ul
      %li
        %a
          =link_to "About", about_path
      %li
        %a
          =link_to "Projects", projects_path
      %li
        %a
          =link_to "Thoughts", blog_path
      %li
        %a
          =link_to "Get in Touch", get_in_touch_path
      %li
        %a
          =link_to "Presentations", "http://presentations.edmoremoyo.com"
