=render :partial => 'home/site_header'

%section{:id => "projects"}
  %article{:class => "personal_website"}
    %header
      %h2 #my_web_footprint
    %p The first project I would like to highlight is this website.  This site is currently under development.I am using Ruby, Rails, HTML5, HAML , CSS3 , RSpec , Steak and Capybara for development and testing.
    %p
      A special thanks to the guys at
      %a{ :href => "http://komodomedia.com"} Komodo
      for the superb social media icons.
    %footer

=render :partial => 'home/site_sidebar'
=render :partial => 'home/site_footer'
