=render :partial => 'home/site_header'

%section{:class => "projects"}
  %h2 #work_and_play
  %div
    %ul
      %li{:id => "edmoremoyo.com"}
        %a{:class => "popup", :href => "https://github.com/edmore/edmoremoyo"}
          %span{:class => "preview"}
            %img{:src => "/images/edmoremoyo_preview.png"}
            %span{:class => "title"} edmoremoyo
          %span{:class => "description"} View Project >>
      %li{:id => "thandazilemoyo.com"}
        %a{:class => "popup", :href => "https://github.com/edmore/thandazilemoyo"}
          %span{:class => "preview"}
            %img{:src => "/images/thandazilemoyo_preview.png"}
            %span{:class => "title"} thandazilemoyo
          %span{:class => "description"} View Project >>
      %li{:id => "matterhorn"}
        %a{:class => "popup", :href => "http://opencast.org/matterhorn/"}
          %span{:class => "preview"}
            %img{:src => "/images/matterhorn_preview.png"}
            %span{:class => "title"} matterhorn
          %span{:class => "description"} View Project >>
      %li{:id => "dashboard"}
        %a{:class => "popup", :href => "https://github.com/edmore/camera_dashboard"}
          %span{:class => "preview"}
            %img{:src => "/images/dashboard_preview.png"}
            %span{:class => "title"} camera_dashboard
          %span{:class => "description"} View Project >>
      %li{:id => "edmorepresents"}
        %a{:class => "popup", :href => "https://github.com/edmore/edmorepresents"}
          %span{:class => "preview"}
            %img{:src => "/images/edmorepresents_preview.png"}
            %span{:class => "title"} edmorepresents
          %span{:class => "description"} View Project >>
      %li{:id => "automate"}
        %a{:class => "popup", :href => "https://github.com/edmore/automate"}
          %span{:class => "preview"}
            %img{:src => "/images/automate_preview.png"}
            %span{:class => "title"} automate
          %span{:class => "description"} View Project >>
      %li{:id => "peekaboo"}
        %a{:class => "popup", :href => "https://github.com/edmore/peekaboo"}
          %span{:class => "preview"}
            %img{:src => "/images/peekaboo_preview.png"}
            %span{:class => "title"} peekaboo
          %span{:class => "description"} View Project >>
      %li{:id => "jflickery"}
        %a{:class => "popup", :href => "https://github.com/edmore/jflickery"}
          %span{:class => "preview"}
            %img{:src => "/images/jflickery_preview.png"}
            %span{:class => "title"} jflickery
          %span{:class => "description"} View Project >>
      %li{:id => "dexter"}
        %a{:class => "popup", :href => "https://github.com/edmore/dexter"}
          %span{:class => "preview"}
            %img{:src => "/images/dexter_preview.png"}
            %span{:class => "title"} dexter
          %span{:class => "description"} View Project >>


=render :partial => 'home/site_sidebar'
=render :partial => 'home/site_footer'
