=render :partial => 'home/site_header'

%section{:class => "projects"}
  %h2 #projects

  %article{:class => "personal_website"}
    %header
      %h3 @edmore_moyo
    %p This site is in continuous development. I am using Ruby, Rails, HTML5, HAML, CSS3 , RSpec, Steak and Capybara for development and testing.
    %p The site is currently optimized for Webkit browsers(Chrome and Safari), Firefox and Opera. No full IE optimization as yet.
    %p
      A special thanks to the guy at
      %a{ :href => "http://www.komodomedia.com", :class => "popup"} Komodo Media
      for the superb social media icons,
      %a{:href => "http://www.disqus.com", :class => "popup"} Disqus
      for their commenting application and
      %a{:href => "http://seaofclouds.com", :class => "popup"} Seaofclouds
      for the twitter plugin.
    %footer= "Last commit : \"#{@message}\""

=render :partial => 'home/site_sidebar'
=render :partial => 'home/site_footer'
