=render :partial => 'home/site_header'

%section{:class => "projects"}
  %h2 #projects

  %article{:class => "personal_website"}
    %header
      %h3 @edmoremoyo
    %p This site is currently in Beta mode. I am using Ruby, Rails, HTML5, HAML , CSS3 , RSpec , Steak and Capybara for development and testing.
    %p
      A special thanks to the guy at
      %a{ :href => "http://www.komodomedia.com", :class => "popup"} Komodo Media
      for the superb social media icons and
      %a{:href => "http://www.disqus.com", :class => "popup"} Disqus
      for the great commenting functionality.
    %footer= "Last commit : \"#{@message}\""

=render :partial => 'home/site_sidebar'
=render :partial => 'home/site_footer'
