=render :partial => 'home/site_header'

%section{:class => "blog"}
  %h2 #blog_index

  -if @posts.any?
    - @posts.each do |post|
      %article{:id => "blog_#{post.id}", :class => "blogs"}
        %header
          %h3
            =link_to  post.title, blog_item_path(post)
        %footer= post.date_to_readable
  -else
    = "Sorry no posts present at this time."

=render :partial => 'home/site_sidebar'
=render :partial => 'home/site_footer'
