=render :partial => 'home/site_header'

%section{:id => "post"}
  %article{:class => "posts", :id => "post_#{@post.id}"}
    %header
      %h2= @post.title
      =link_to "Back to Index" , blog_path
    %p= @post.body
    %footer

= raw(disqus_thread)


=render :partial => 'home/site_footer'
